In [3]:
import pandas as pd

data = {'value': [10, 20, 30]}
index = pd.to_datetime(['2023-10-01 12:00:00', '2023-10-02 14:30:00', '2023-10-03 09:15:00'])
df = pd.DataFrame(data, index=index)

In [4]:
df

                     value
2023-10-01 12:00:00     10
2023-10-02 14:30:00     20
2023-10-03 09:15:00     30

In [5]:
df.index

DatetimeIndex(['2023-10-01 12:00:00', '2023-10-02 14:30:00',
               '2023-10-03 09:15:00'],
              dtype='datetime64[ns]', freq=None)

In [6]:
df.index = pd.to_datetime(df.index.date)

In [7]:
df.index

DatetimeIndex(['2023-10-01', '2023-10-02', '2023-10-03'], dtype='datetime64[ns]', freq=None)

In [8]:
df

            value
2023-10-01     10
2023-10-02     20
2023-10-03     30